<%- include("partials/header") -%>

<form action="/giveMe" method="POST">
    <h3>Your result is:</h3>
    <hr>
    <% if(typeof result != "undefined"){ %>
    <h1><%= result %> </h1>
    <% } %>
    <hr>

    <a href="/"><button type="button" class="btn btn-warning">Back</button></a>
</form>




<%- include("partials/footer") -%>