<%- include("partials/header") -%>


<h3>Your result is:</h3>
<hr>
<h1><%= sentence %> </h1>
<hr>

<a href="/"><button type="button" class="btn btn-warning">Back</button></a>



<%- include("partials/footer") -%>