<%- include("partials/header") -%>


    <h3>Your result is:</h3>
    <hr>
    <h1><%= sentence %> </h1>
    <hr>
    <form action="/ans" method="POST">
        <a href="/"><button type="button" class="btn btn-warning">Back</button></a>
    </form>

</div>


<%- include("partials/footer") -%>