<%- include("partials/header") -%>

<h3>About This website</h3>

<div class="content">
    <p>Owner: Neeraj</p>
    <p>This website is use to translate any language to their preferable Language.</p>
    <p>You do not even need to select language because it can detect itself.</p>
    <p>This web is made by google translate api.</p>
    <p>I used Ejs templating</p>
</div>



<%- include("partials/footer") -%>