*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

h3{
    color: rgb(221, 122, 64);
}

.margin{
    margin-top: 50px;
}

html body{
    background: rgb(235, 195, 143);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer a{
    font-size: 15px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(212, 172, 112);
    text-align: center;
}
